<section class="w-100 p-4 d-flex justify-content-center pb-4">
    <div class="alert alert-success" role="alert" style="width: 22rem;">
        <h4 class="alert-heading">Excelente!</h4>
        <p>Tu hora ya ha sido agendado exitósamente, a continuación están los datos necesario para contactar a nuestro
            agente de limpieza!</p>
        <p class="text-center">
            <fa-icon [icon]="['fas', 'leaf']"></fa-icon>
            <fa-icon [icon]="['fas', 'leaf']"></fa-icon>
            <fa-icon [icon]="['fas', 'leaf']"></fa-icon>
            <fa-icon [icon]="['fas', 'leaf']"></fa-icon>
        </p>
        <div class="alert alert-light">
            <fa-icon [icon]="['fas', 'leaf']"></fa-icon> Agente: Ariel Saavedra
            <br>
            <fa-icon [icon]="['fas', 'phone']"></fa-icon> Contacto: +569 5018 5938
            <br>
            <fa-icon [icon]="['fas', 'calendar']"></fa-icon> Agenda: 23-11-2022 11:45 Hrs
        </div>
        <div class="d-grid gap-2">
            <div class="btn-group" role="group">
                <a routerLink="/services" class="btn btn-warning">
                    <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon> Volver
                </a>
                <a routerLink="/" class="btn btn-secondary">
                    Salir <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</section>