<h2 class="text-center">Planes / Servicios</h2>
<p class="text-center">Conoce nuestros planes:</p>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card text-center mt-3">
            <div class="card-header">
                <fa-icon [icon]="['fas', 'leaf']"></fa-icon> Servicios Plan "HomeClean" <fa-icon
                    [icon]="['fas', 'house-circle-check']"></fa-icon>
            </div>
            <div class="card-body">
                <h5 class="card-title">Casa / Residencial</h5>
                <p class="card-text">Servicio de limpieza profunda para el hogar. Has click en "Agenda tu visita" para
                    buscar la
                    fecha de tu atención.</p>
            </div>
            <div class="card-footer text-muted">
                <a routerLink="/details/1">Agenda tu visita aquí!</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card text-center mt-3">
            <div class="card-header">
                <fa-icon [icon]="['fas', 'leaf']"></fa-icon> Servicios Plan "DepaClean" <fa-icon
                    [icon]="['fas', 'building-user']"></fa-icon>
            </div>
            <div class="card-body">
                <h5 class="card-title">Departamento / Piso</h5>
                <p class="card-text">Servicio de limpieza profunda para departamentos. Has click en "Agenda tu visita"
                    para
                    buscar la fecha de tu atención.</p>
            </div>
            <div class="card-footer text-muted">
                <a routerLink="/details/2">Agenda tu visita aquí!</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card text-center mt-3">
            <div class="card-header">
                <fa-icon [icon]="['fas', 'leaf']"></fa-icon> Servicios Plan "SchoollClean" <fa-icon
                    [icon]="['fas', 'graduation-cap']"></fa-icon>
            </div>
            <div class="card-body">
                <h5 class="card-title">Escuelas / Institutos / Universidades</h5>
                <p class="card-text">Servicio de limpieza profunda para escuelas. Has click en "Agenda tu visita" para
                    buscar la fecha de tu atención.</p>
            </div>
            <div class="card-footer text-muted">
                <a routerLink="/details/3">Agenda tu visita aquí!</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card text-center mt-3">
            <div class="card-header">
                <fa-icon [icon]="['fas', 'leaf']"></fa-icon> Servicios Plan "OfficeClean" <fa-icon
                    [icon]="['fas', 'briefcase']"></fa-icon>
            </div>
            <div class="card-body">
                <h5 class="card-title">Oficinas / Pisos</h5>
                <p class="card-text">Servicio de limpieza profunda para oficinas. Has click en "Agenda tu visita" para
                    buscar la fecha de tu atención.</p>
            </div>
            <div class="card-footer text-muted">
                <a routerLink="/details/4">Agenda tu visita aquí!</a>
            </div>
        </div>
    </div>
</div>