<div class="container-sm mt-5 p-5 h-100 bg-light border border-success rounded">
  <section class="w-100 d-flex justify-content-center">
    <h1>
      <span class="badge bg-secondary">
        <span style="color: #74F214;">Clean Service</span>&nbsp;
        <fa-icon [icon]="['fas', 'leaf']" [styles]="{'color':'#74F214'}"></fa-icon>
      </span>
      <br>
      <h5 class="text-center pt-2">Servicios de Limpieza</h5>
    </h1>
  </section>
  <hr class="text-success">
  <router-outlet></router-outlet>
  <hr class="text-success">
  <p class="text-center">
    <small class="text-muted">Clean Service <fa-icon [icon]="['fas', 'leaf']"></fa-icon>
      Servicios de Limpieza @ 2022 - Todos los Derechos Reservados</small>
  </p>
</div>